<!DOCTYPE html >

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Astro Match | Home</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>

    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }

        .navbar {
            border-bottom: 1px solid #fff;
        }
    </style>

    <body class="bg-light">
        <div>
            <div class="container text-center">
                <form class="" action="#" method="GET">
                    <input type="text" name="" value="">
                    <button type="button" class="btn btn-primary" name="button">Load to DB</button>
                </form>
            </div>
        </div>
    </body>
</html>
